[include]
  path = ~/.gitconfig.secret
[core]
  editor = vim
  pager = less
  quotepath = false
  excludesfile = ~/.gitignore_global
[pager]
  log  = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[user]
  name = nyomo
  email = nyomoko@gmail.com
[color]
  ui = auto
[alias]
  st   = status
  df   = diff
  dfc  = diff --cached
  aa   = add --all
  ap   = add -p
  ci   = commit
  co   = checkout
  b    = branch
  g    = grep -n
  pl   = pull
  pr   = pull --rebase
  cp   = cherry-pick
  fp   = fetch --prune
  gsub = git-gsub
  branches = branch -a
  tags     = tag
  stashes  = stash list
  remotes  = remote -v
  unstage  = reset -q HEAD --
  discard  = checkout --
  uncommit = reset --mixed HEAD~
  amend    = commit --amend
[github]
  user = nyomo
[push]
  default = simple
[fetch]
  prune = true
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[diff]
  compactionHeuristic = true
[gpg]
  program = gpg2
[commit]
  gpgsign = true
